    <!--Background Video-->
    <div class = "fixed top-0 justify-center w-screen h-screen">
        <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
            <source src="static/assets/RipplingBkg.mp4" type="video/mp4" />
        </video>
    </div>
    <div class = "h-32"></div>

    <!--Tile 1-->
    <div class = "flex justify-center relative flex-none z-20">
        <div class = "flex overflow-hidden grow">
            <div class ="shrink-0 grow flex justify-center overflow-hidden bg-black bg-opacity-70" >
                <div class = "overflow-hidden flex flex-col items-center">
                    <div class = "h-2"></div>
                    <h1 class = "text-4xl text-white fade_in delay-200 text-center">About Us</h1>
                    <div class = "h-3"></div>
                    <div class = "w-12 h-1 bg-white rounded-xl justify-center"></div>
                    <div class = "h-3"></div>
                    <p class = "w-192 text-white text-xl text-center fade_in delay-200">
                        The Student Team for Alberta Rocketry Research (STARR) is a team of like-minded students 
                        from an array of disciplines and faculties who have come together with the common goal of 
                        expanding Alberta’s space industry through the development, testing, and launching of high 
                        altitude sounding rockets.
                    </p>
                    <div class = "h-8"></div>
                    <img src="static/assets/TeamPhoto.jpeg" class = "rounded-xl w-192 flex-none overflow-hidden">
                    <div class = "h-8"></div>
                </div>
            </div>

        </div>
    </div>

    <!--Tile 2-->
    <div class = "flex justify-center relative flex-none z-20">
        <div class = "flex overflow-hidden grow">
            <div class ="shrink-0 grow flex justify-center overflow-hidden bg-yellow-400" >
                <div class = "overflow-hidden flex flex-col items-center">
                    <div class = "h-2"></div>
                    <h1 class = "text-4xl text-black text-center">Our Mission and Vision</h1>
                    <div class = "h-3"></div>
                    <div class = "w-12 h-1 bg-black rounded-xl justify-center"></div>
                    <div class = "h-3"></div>
                    <p class = "w-192 text-lg text-center text-black">
                        Our mission is to provide experience for students in developing launch vehicles and scientific 
                        payloads, educate the public through outreach activities, and promote STEM to students across Alberta.
                        <br>
                        <br>
                        Our vision is to provide to our members the necessary experience and skills to pursue a career 
                        in the aerospace industry and strengthen Alberta's position as a leader in the Canadian aerospace community.
                    </p>
                    <div class = "h-8"></div>
                </div>
            </div>
        </div>
    </div>

    <!--Tile 3-->
    <div class = "flex justify-center relative flex-none z-20">
        <div class = "flex overflow-hidden grow">
            <div class ="shrink-0 grow flex justify-center overflow-hidden" >
                <div class = "overflow-hidden flex items-center">
                    <div>
                        <div class = "h-12"></div>
                        <h1 class = "text-4xl text-white">Our Team</h1>
                        <div class = "h-4"></div>
                        <p class = "w-128 text-lg text-white">
                            Meet our 2022/2023 team leads. We are students from various disciplines and 
                            faculties, coming together in the name of student rocketry research!  🚀 
                            If you want to join any of our teams, contact us!
                        </p>
                        <div class = "h-12"></div>
                    </div>
                    <div class = "w-12"></div>
                    <img src="static/assets/STARRVectorIconSquare.png" class = "rounded-xl flex-none overflow-hidden">
                </div>
            </div>
        </div>
    </div>

    <div class = "h-6"></div>
    <!--Team members-->
    <div class = "flex justify-center relative z-20">
        <div class = "w-32 grow-0 overflow-hidden"></div>
        <div class = "bg-black bg-opacity-70 grow-0">
            <div class = "h-16"></div>
            <div class = "flex flex-wrap justify-center">
                <% for (let i = 0; i < members.length; i += 1) { %>
                <div class = "w-72 h-112 flex flex-col items-center justify-center">
                    
                    <img src=<%= member.imgref %>>
                    <p class = "text-white"><%= member.name %></p>
                    <p class = "text-white"><%= member.title %></p>
                </div>
                <% } %>
            </div>
            <div class = "h-16"></div>
        </div>
        <div class = "w-32 grow-0 overflow-hidden"></div>
    </div>

     <!--Album link-->
     <div class = "flex justify-center relative flex-none z-20">
        <div class = "flex overflow-hidden grow">
            <div class ="shrink-0 grow flex justify-center overflow-hidden" >
                <div class = "overflow-hidden flex flex-col items-center">
                    <div class = "h-16"></div>
                    <h1 class = "text-4xl text-white text-center">Looking for more photos?</h1>
                    <div class = "h-8"></div>
                    <p class = "w-192 text-lg text-center text-white">
                        Check out our photo albums to see our team and its experiences, events, and work throughout the years!
                    </p>
                    <div class = "h-12"></div>
                    <button 
                        onclick= "window.location.href = 'photo-albums'" 
                        class="whitespace-nowrap bg-yellow-500 hover:transition-all hover:bg-white rounded-full px-8 py-3">
                        View More
                    </button>
                    <div class = "h-20"></div>
                </div>
            </div>
        </div>
    </div>