
<!doctype html>
<html>
  <head>
    <title>Welcome to UA STARR</title>
      
    <link rel="stylesheet" href="./../static/dist/main.css">

  </head>
  <body>
    <!--Header-->
    
    <div class ="fixed z-20 items-center py-5 flex justify-between flex-nowrap w-screen" onload="selectPage">
      <div class = "inline-block flex-none px-3">
        <img src="https://static.wixstatic.com/media/9dc5ac_7a4b227a0a2e4a63a0e451868bdc0cdb~mv2.png/v1/fill/w_266,h_39,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/STARRVectorFullDescriptionLogoWHITETEXT(TRANSP).png" alt="broken"/>
      </div>
      <div class ="flex flex-nowrap">
          <div class = "bg-gray-50 bg-opacity-10 rounded-full bg-cover px-20 py-3" style = "display: inline-block;">
            <div class ="flex flex-nowrap space-x-6">
              <a class="hover:text-yellow-300 text-white" href="/index">Home</a> 
              <a class="hover:text-yellow-300 text-white" href="/projects">Projects</a> 
              <a class="hover:text-yellow-300 text-white whitespace-nowrap"href="/about-us">About Us</a> 
              <a class="hover:text-yellow-300 text-white"href="/sponsors">Sponsors</a>
              <div class="inline-block justify-items-center">
                
                <a class="popup hover:text-yellow-300 text-white" onmouseover="showPopup()" onmouseout="delayedHidePopup()" >More</a>
                <div class="truepopup justify-items-center hidden" id ="popup" onmouseover="delayHidePopup()" onmouseout="delayedHidePopup()"> 
                  <div class = "justify-items-center bg-gray-50 bg-opacity-10 rounded-full left-8 px-6 py-3">
                    <div><a class="text-white hover:text-yellow-300 whitespace-nowrap" href="/index"> Photo Albums </a></div>
                    <div><a class="text-white hover:text-yellow-300" href="/index"> Contact </a></div>
                    <div><a class="text-white hover:text-yellow-300" href="/index"> Portfolio </a></div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <div class = "inline-block px-5 pr-10"> <!--Join Now Button-->
            <button onclick= "window.location.href = '/index'" class="text-white whitespace-nowrap bg-green-700 hover:transition-all duration-200 hover:bg-white hover:text-black rounded-full px-6 py-3" href="/index" type="button">Join Now</button>
          </div>
      </div>
    </div>

    {% block content %}{% endblock %}


  </body>


  <style>
    .truepopup {
      position: absolute;
      transform: translate(-30px, 15px);
    }
    .popup {
      cursor: pointer;
    }
    .hidden {
      display: none;
    }
    .fade_in{
      opacity: 0;
      transition: 1s;

    }
    .flow_in{
      opacity: 0;
      transition: opacity 1s, transform 2s;
      transform: translateX(-5%);
    }

    .visible{
      opacity: 1;
      transform: translateX(0);
    }

  </style>
  <script>

    function showPopup() {
      document.getElementById("popup").classList.remove("hidden");
    }
    function hidePopup() {
      document.getElementById("popup").classList.add("hidden");
    }
    function delayedHidePopup() {
      timer = setTimeout(hidePopup, 500);              
    }
    function delayHidePopup() {
      clearTimeout(timer);
    }

    const transition_elements = document.querySelectorAll('.flow_in, .fade_in');

    function isInViewport(el) {
      const rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function checkElements() {
      transition_elements.forEach((el) => {
        if (isInViewport(el)) {
          el.classList.add('visible');
        }
      });
    }
    checkElements();
    window.addEventListener('scroll', checkElements);
    
  </script>
</html>
