
<!doctype html>
<html>
  <head>
    <title>Welcome to UA STARR</title>
      
    <link rel="stylesheet" href="./../static/dist/main.css">

  </head>
  <body class = "overflow-x-hidden relative">
    <!--Header-->
    <div class ="header fixed z-50 items-center py-5 flex justify-between flex-nowrap w-screen" id="header" onload="selectPage">
      <div class = "inline-block flex-none px-3">
        <img src="https://static.wixstatic.com/media/9dc5ac_7a4b227a0a2e4a63a0e451868bdc0cdb~mv2.png/v1/fill/w_266,h_39,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/STARRVectorFullDescriptionLogoWHITETEXT(TRANSP).png" alt="broken"/>
      </div>
      <div class ="flex flex-nowrap">
          <!--Navigation bar-->
          <div class = "bg-gray-50 bg-opacity-10 rounded-full bg-cover px-20 py-3" style = "display: inline-block;">
            <!--Navigation buttons-->
            <div class ="flex flex-nowrap space-x-6">
              <a class="hover:text-yellow-300 text-white" href="/index">Home</a> 
              <a class="hover:text-yellow-300 text-white" href="/projects">Projects</a> 
              <a class="hover:text-yellow-300 text-white whitespace-nowrap"href="/about-us">About Us</a> 
              <a class="hover:text-yellow-300 text-white"href="/sponsors">Sponsors</a>
              <div class="inline-block justify-items-center">
                
                <a class="popup hover:text-yellow-300 text-white" onmouseover="showPopup()" onmouseout="delayedHidePopup()" >More</a>
                <div class="truepopup justify-items-center hidden" id ="popup" onmouseover="delayHidePopup()" onmouseout="delayedHidePopup()"> 
                  <div class = "justify-items-center bg-gray-50 bg-opacity-10 rounded-full left-8 px-6 py-3">
                    <div><a class="text-white hover:text-yellow-300 whitespace-nowrap" href="/index"> Photo Albums </a></div>
                    <div><a class="text-white hover:text-yellow-300" href="/index"> Contact </a></div>
                    <div><a class="text-white hover:text-yellow-300" href="/index"> Portfolio </a></div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <!--Join Now Button-->
          <div class = "inline-block px-5 pr-10"> 
            <button onclick= "window.location.href = '/index'" class="text-white whitespace-nowrap bg-green-700 hover:transition-all duration-200 hover:bg-white hover:text-black rounded-full px-6 py-3" href="/index" type="button">Join Now</button>
          </div>
      </div>
    </div>

    {% block content %}{% endblock %}
    <!--Footer-->
    <div class ="bg-black z-10 relative flex-col justify-between">
      <!--Catagories-->
      <div class = "flex justify-between space-x-6 px-12 pt-12">
        <div class = "space-y-4 basis-1">
          <h1 class="text-white font-semibold text-lg whitespace-nowrap">
            Student Team for Alberta <br> Rocketry Research  
          </h1>
          <p class="text-gray-400 text-base whitespace-nowrap">
            Donadeo Innovation Centre <br>
            for Engineering <br>
            9211-116 St. NW <br>
            ​Edmonton, AB T6G 1H9
          </p>
          <div class = "pt-4">
            <button onclick= "window.location.href = '/index'" class="whitespace-nowrap bg-yellow-500 hover:transition-all duration-200 hover:bg-white rounded-full px-6 py-3" href="/index" type="button">Contact Us</button>
          </div>
        </div>
        <div class = "space-y-4 basis-2">
          <h1 class="text-white font-semibold text-lg whitespace-nowrap">  
            Want to stay in the know about STARR? 💫  
          </h1>
          <p class="text-gray-400 text-base whitespace-nowrap">
            Join our mailing list to keep up with our events, <br>
            blog posts, and other news!
          </p>
        </div>
        <div class = "flex flex-col basis-1">
          <h1 class="text-white font-semibold text-lg whitespace-nowrap pb-4">  
            Menu  
          </h1>
          <a class=" text-gray-400 text-base whitespace-nowrap" href="/index">Home</a> 
          <a class="text-gray-400 text-base whitespace-nowrap" href="/projects">Projects</a> 
          <a class="text-gray-400 text-base whitespace-nowrap"href="/about-us">About Us</a> 
          <a class="text-gray-400 text-base whitespace-nowrap"href="/sponsors">Sponsors</a>
          <a class="text-gray-400 text-base whitespace-nowrap"href="/index">Photo Albums</a>
          <a class="text-gray-400 text-base whitespace-nowrap"href="/index">Sponsors</a>
          <a class="text-gray-400 text-base whitespace-nowrap"href="/index">Contact Us</a>
        </div>
        <div class = "flex flex-col basis-1">
          <h1 class="text-white font-semibold text-lg whitespace-nowrap pb-4">         
            Follow us on
          </h1>
          <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.facebook.com/uastarr/">Facebook</a>
          <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.instagram.com/uastarr/">Instagram</a> 
          <a class=" text-gray-400 text-base whitespace-nowrap" href="https://twitter.com/uastarr">Twitter</a> 
          <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.linkedin.com/company/uastarr/">LinkedIn</a> 
        </div>
      </div>
      <!--Copywright Statement-->
      <div class = "pt-16">
        <h1 class="text-gray-400 text-base whitespace-nowrap">
          Copyright © 2022 Student Team for Alberta Rocketry Research. All rights reserved.
        </h1>
      </div>
    </div>

  </body>

  <script src="{{url_for('static', filename='scripts.js')}}"></script>

</html>
