{% extends "base.html" %}

{% block head %}
<title>Join Us</title>
{% endblock %}

{% block content %}
<header>
    <h1>Contact Us</h1>
    <p>Want to join us? Want to become a sponsor? Any other questions?</p>
    <p>Let us know! We'd love to hear what you think.</p>
</header>

<main>
    <section>
        <form>
            <fieldset>
                <p>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name" placeholder="first name" required>
                </p>
                                    <p>
                        <label for="Last Name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" placeholder="your email" required>
                    </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="your email" required>
                </p>
                <p>
                    <label for="subject">Subject:</label>
                    <input type="text" name="subject" id="subject" placeholder="your subject" required>
                </p>
                <p>
                    <label for="message">Your Message:</label>
                    <br>
                    <textarea name="message" id="message" cols="30" rows="10"
                        placeholder="Leave us a message"></textarea>
                </p>
 
            </fieldset>
       </form>
    </section>
</main>
{% endblock %}