{% extends "base.html" %}


{% block content %}
    <div class="z-10 relative flex flex-nowrap h-256 flex-col bg-local bg-cover bg-[center-10rem] justify-between" style="background-image: url(https://static.wixstatic.com/media/9dc5ac_f8ff2a1c0ac045669658cae9288656b4~mv2.jpg/v1/fill/w_1225,h_1100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9dc5ac_f8ff2a1c0ac045669658cae9288656b4~mv2.jpg)"> 
        <div></div>
        <link href="https://fonts.cdnfonts.com/css/courier-prime-sans" rel="stylesheet">
        <div class = "pl-14">
            <div class = "flex items-center">
                <img class = "flex-none" src="https://static.wixstatic.com/media/9dc5ac_9f8bf55beebd499998549f9a7b2b2d23~mv2.png/v1/fill/w_152,h_152,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/STARRVectorIconSquare(TRANSP).png">
                <h1 class =  "text-white text-8xl whitespace-nowrap font-bold" style="font-family: Arial">
                It's Just Rocket <br> Science. 
                </h1>
            </div>
            <p class ="text-2xl text-white pl-4">Student Team for Alberta Rocketry Research, University of Alberta</p>
        </div>
        <div class="flex px-5">
            <div class="flex justify-between w-screen px-3 py-3 bg-black bg-opacity-70 basis-1 grow"> <!-- Textboxes -->
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap">70+ students</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap">6 Sub-Teams</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap">Est. in 2018</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap">1 rocket launched</p>
                </div>
            </div>
        </div>
    </div>

    <div class = "fixed top-0 justify-center w-screen h-screen">

        <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
            <source src="https://video.wixstatic.com/video/c837a6_6459a5bb7e28481a83ac6e09537ee8a9/1080p/mp4/file.mp4" type="video/mp4" />
        </video>

    </div>

    
    <div class="z-10 relative flex flex-nowrap h-256 flex-col bg-emerald-900 bg-opacity-10 bg-local bg-cover bg-[center-10rem] justify-between">
        <div class="flex pl-20">
            <h1 class = "px-3 pr-40 py-3 bg-white rounded-b-2xl text-xl font-bold">
                How we do it
            </h1>
            <div>
            </div>
        </div>
        <div class ="pl-16">
            <h1 class="text-white text-bold text-5xl">
                From 3D printing, to electronics, to <br>assembly, we build our rockets in <br>house at UAlberta's very own Elko <br>Engineering Garage.
            </h1>
        </div>
        <div>

        </div>

    </div>
{% endblock %}

