{% extends "base.html" %}


{% block content %}
    <!--Tile 1-->
    <div class="z-20 relative flex flex-nowrap h-256 flex-col bg-local bg-cover bg-[center-10rem] justify-between" style="background-image: url(https://static.wixstatic.com/media/9dc5ac_f8ff2a1c0ac045669658cae9288656b4~mv2.jpg/v1/fill/w_1225,h_1100,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9dc5ac_f8ff2a1c0ac045669658cae9288656b4~mv2.jpg)"> 
        <div></div>
        <!--Main Text-->
        <div class = "pl-14">
            <div class = "flex items-center">
                <img class = "flex-none" src="{{url_for('static', filename='STARRVectorIconSquare.png')}}">
                <h1 class =  "text-white text-8xl whitespace-nowrap font-bold flow_in_left" style="font-family: Arial">
                It's Just Rocket <br> Science. 
                </h1>
            </div>
            <p class ="text-2xl text-white pl-4 flow_in_left whitespace-nowrap delay-300">Student Team for Alberta Rocketry Research, University of Alberta</p>
            <!--Buttons-->
            <div class = "flex space-x-5 pl-3 pt-6">
                <button 
                    onclick= "window.location.href = '/about-us'" 
                    class="flow_in_left delay-700 whitespace-nowrap bg-yellow-500 hover:transition-all hover:bg-white rounded-full px-8 py-3">
                    About Us
                </button>
                <button 
                    onclick= "window.location.href = '/projects'" 
                    class="flow_in_left delay-1000 whitespace-nowrap text-white bg-gray-50 bg-opacity-10 hover:transition-all hover:opacity-100 hover:bg-white hover:text-black rounded-full px-16 py-3">
                    Our Projects
            </button>
            </div>
        </div>
        <!--Info Box-->
        <div class="flex px-5 pb-32">
            <div class="flex justify-between w-screen px-3 py-3 bg-black bg-opacity-70 basis-1 grow"> <!-- Textboxes -->
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap fade_in">70+ students</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap fade_in delay-400">6 Sub-Teams</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap fade_in delay-800">Est. in 2018</p>
                </div>
                <div class = "flex items-center">
                    <div class="bg-green-800 h-20 w-2 rounded-full"></div>
                    <p class="text-white text-xl px-3 whitespace-nowrap fade_in delay-1200">1 rocket launched</p>
                </div>
                <div></div>
            </div>
        </div>
    </div>

    <!--Tile 2 Background Video-->
    <div class = "fixed top-0 justify-center w-screen h-screen">
        <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
            <source src="{{url_for('static', filename='3dPrinting.mp4')}}" type="video/mp4" />
        </video>
    </div>

    <!--Tile 2-->
    <div class="z-10 relative flex flex-nowrap h-256 flex-col bg-emerald-900 bg-opacity-10 bg-local bg-cover bg-[center-10rem] justify-between">
        <div class="flex pl-20">
            <h1 class = "flow_in_top px-3 pr-40 py-3 bg-white rounded-b-2xl text-xl font-bold">
                How we do it
            </h1>
            <div>
            </div>
        </div>
        <div class ="pl-16">
            <h1 class="text-white text-bold text-5xl">
                From 3D printing, to electronics, to <br>assembly, we build our rockets in <br>house at UAlberta's very own Elko <br>Engineering Garage.
            </h1>
        </div>
        <div>

        </div>

    </div>

    <!--Tile 3-->
    <div class="z-10 relative flex flex-nowrap h-224 flex-col bg-emerald-900 bg-opacity-10 bg-local bg-cover bg-[center-10rem] justify-between" id="bg-image">
        <div class="flex pl-20 overflow-hidden">
            <h1 class = "flow_in_top px-3 pr-40 py-3 bg-white rounded-b-2xl text-xl font-bold">
                Our Vision
            </h1>
            <div>
            </div>
        </div>
        <div class ="pl-16">
            <h1 class="text-white text-bold text-5xl">
                From 3D printing, to electronics, to <br>assembly, we build our rockets in <br>house at UAlberta's very own Elko <br>Engineering Garage.
            </h1>
        </div>
        <div>

        </div>

    </div>

{% endblock %}

