

{% extends "base.html" %}


{% block content %}

    <!--Tile 1 Background Video-->
<div class = "fixed top-0 justify-center w-screen h-screen">
    <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
        <source src="{{url_for('static', filename='fireflies_background.mp4')}}" type="video/mp4" />
    </video>
</div>

<div class = "h-36"></div>

<div class= "relative z-20 pl-20">
    <h1 class="text-white no_check text-bold text-3xl flow_in_left py-1">
        Contact Us
    </h1>
    <div class = "container">
        <h3 class = "flow_in_left no_check delay-200 whitespace-nowrap text-white text-lg">
            Want to join us? Want to become a sponsor? Any other questions? <br>
            Let us know! We'd love to hear what you think.
        </h3>
    </div>
</div>

<div class = "h-20"></div>

<main class = "relative z-20 pl-20 flow_in_left no_check delay-500">
    <section>
        <form>
            <fieldset>
                <!-- <h3 class = "whitespace-nowrap text-white"
                style = "font-size:0.8vw"> -->
                <h3 class = "text-white">
                    <label for = "first_name" >First Name:</label>
                    <input type = "text" name = "first_name" id = "first_name" placeholder="First Name" required>
                </h3>
                <br>
                <h3 class = "whitespace-nowrap text-white">
                    <label for = "last_name">Last Name:</label>
                    <input type ="text" name = "last_name" id = "last_name" placeholder="Last Name" required>
                </h3>
                <br>
                <h3 class = "whitespace-nowrap text-white">
                    <label for = "email">Email:</label>
                    <input type ="text" name = "email" id = "email" placeholder="Email" required>
                </h3>   
                <br>
                <h3 class = "whitespace-nowrap text-white">
                    <label for = "subject">Subject:</label>
                    <input type ="text" name = "subject" id = "subject" placeholder="Subject" required>
                </h3>
                <br>
                <h3 class = "whitespace-nowrap text-white">
                    <label for = "how_know">How do you know about us?</label>
                    <input type ="text-black" name = "how_know" id = "how_know" placeholder="Reason" required>
                </h3>
                <br>
                <h3 class = "whitespace-nowrap text-white">
                    <label for = "message">Leave us a Message:</label>
                    <br>
                    <textarea cols = "100" rows = "10" type ="text" name = "message" id = "message" placeholder="Leave us a Message"></textarea>
                </h3>
                <br>
                <div>
                    <h3 class = "whitespace-nowrap text-white">
                        <label for = "subscribe">I would like to hear from UASTARR</label>
                        <input type = "radio" name = "sub" value="yes" required/> Yes
                        <input type = "radio" name = "sub" value="no" required/> No
                    </h3>
                </div>
            </fieldset>
            <h3 class = "whitespace-nowrap text-white">
                <button type ="submit">Submit</button>
                <button type ="reset">Reset</button>
            </h3>
        </form>
        
    </section>
</main>

       <!--Tile 1-->
       <!-- Need to figure out how to fix the flexing of the text, so that it doesn't minimize as the window is minimized. -->

{% endblock %}

