{% extends "base.html" %}

{% block content %}
<div class = "fixed w-screen h-screen flex items-center">
    <img src="{{url_for('static', filename='assets/astronautBkg.jpeg')}}" class = "object-cover min-w-full min-h-full">
</div>

<div class = "h-128"></div>

<!--Splash page-->
<div class = "flex justify-center relative flex-none z-20">
    <div class = "flex overflow-hidden grow">
        <div class ="shrink-0 grow flex items-center flex-col overflow-hidden" >
            <div class = "h-8"></div>
            <h1 class = "text-white text-6xl overflow-hidden">
                Our Sponsors
            </h1>
            <div class ="h-2"></div>
            <p1 class = "text-white text-xl overflow-hidden">
                Helping Us Reach the Stars.
            </p1>
        </div>
    </div>
</div>

<!--Sponsors Section-->
<div class = "flex justify-center relative flex-none z-20">
    <div class = "flex overflow-hidden grow">
        <div class ="shrink-0 grow flex justify-center overflow-hidden bg-black" >
            <div class = "overflow-hidden flex flex-col items-center">
                <div class = "h-20"></div>
                <h1 class = "text-4xl text-white text-center">Sponsors go here</h1>
                <div class = "h-20"></div>
            </div>
        </div>
    </div>
</div>

<!--Sponsorship Package Section-->
<!--This is very janky, would not reccomend touching unless you have to-->
<div class ="z-20 bg-white relative h-192" style="background-image: url(https://static.wixstatic.com/media/9dc5ac_39ff54e1dfa04e298cb7d58566700807~mv2.jpg/v1/fill/w_1960,h_1652,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/9dc5ac_39ff54e1dfa04e298cb7d58566700807~mv2.jpg)">
    <div class ="h-16"></div>
    <div class = "flex overflow-hidden grow">
        <div class = "w-20 grow-0 overflow-hidden"></div>
        <div class ="shrink-0 grow flex justify-center overflow-hidden bg-black bg-opacity-60" >
            <div class = "overflow-hidden w-160 h-144 flex items-center">
                <div class = "flex">
                    <div class = "w-8 flex-none"></div>

                    <div class ="w-96 flex justify-center">
                        <img src="{{url_for('static', filename='assets/sponsorsCover.jpeg')}}" style="width: 389px; height: 504px">
                    </div>
                    <div class = "w-56 flex-none"></div>

                </div>
            </div>
        </div>
        <div class ="shrink-0 grow flex justify-center overflow-y-hidden" >
            <div class = "overflow-hidden w-64"></div>
        </div>
        <div class = "shrink w-20 grow-0 overflow-hidden"></div>
    </div>

    <div class = "flex overflow-y-visible grow">
        <div class = "w-20 grow-0 overflow-hidden"></div>
        <div class ="shrink-0 grow flex justify-center overflow-y-hidden" >
            <div class = "overflow-hidden w-112"></div>
        </div>
        <div class ="shrink-0 grow flex justify-center overflow-hidden bg-black bg-opacity-90 -translate-y-128" >
            <div class = "overflow-hidden w-112 h-144">
                <div class = "flex">
                    <div class = "w-6 flex-none"></div>
                    <div>
                        <div class = "h-12"></div>
                        <h1 class = "text-white text-6xl w-96"> 
                            Sponsorship Package 2022/2023 
                        </h1>
                        <div class = "h-12"></div>
                        <p class = "text-white text-base w-96">
                            Interested in learning more about us and our plans for Ringo II? 
                            Do you want to help support our mission? Check out our sponsorship package 
                            to see more of what we have to offer to the world of rocketry and engineering.
                        </p>
                        <div class = "h-12"></div>
                        <button 
                            onclick= "window.location.href = 'photo-albums'" 
                            class="whitespace-nowrap bg-yellow-500 hover:transition-all hover:bg-white rounded-full px-8 py-3">
                            View Sponsorship Package
                        </button>
                    </div>
                    <div class = "w-6 flex-none"></div>

                </div>
            </div>
        </div>
        <div class = "shrink w-20 grow-0 overflow-hidden"></div>
    </div>
</div>

<!--Contact Us Section-->
<div class = "flex justify-center relative flex-none z-20">
    <div class = "flex overflow-hidden grow">
        <div class ="shrink-0 grow flex justify-center overflow-hidden  bg-gradient-to-b from-blue-500 to-black black-white" >
            <div class = "overflow-hidden flex flex-col items-center">
                <div class = "h-20"></div>
                <h1 class = "text-4xl text-white text-center">Want to be a sponsor?</h1>
                <div class = "h-4"></div>
                <p class = "w-192 text-lg text-center text-white">
                    We're excited to have you on board. Our vision depends on generous sponsors like you, 
                    and we look forward to seeing the heights we'll reach together.
                </p>
                <div class = "h-12"></div>
                <!--Change href to contact page-->
                <button 
                    onclick= "window.location.href = 'join'" 
                    class="whitespace-nowrap bg-yellow-500 hover:transition-all hover:bg-white rounded-full px-8 py-3">
                    Contact Us
                </button>
                <div class ="h-20"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}