{% extends "base.html" %}

{% block content %}
<div class = "fixed w-screen h-screen flex items-center">
    <img src="{{url_for('static', filename='assets/astronautBkg.jpeg')}}" class = "object-cover min-w-full min-h-full">
</div>

<div class = "flex flex-col items-center relative z-20">
    <div class = "h-128"></div>
    <h1 class = "text-white text-6xl">
        Our Sponsors
    </h1>
    <div class ="h-2"></div>
    <p1 class = "text-white text-xl">
        Helping Us Reach the Stars.
    </p1>
</div>
<div class = "h-448"></div>

{% endblock %}