<div class = "fixed top-0 justify-center w-screen h-screen">
    <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
        <source src="static/assets/VectorBkg.mp4" type="video/mp4" />
    </video>
</div>

<div class = "h-24"></div>

<div class = "flex justify-center relative flex-none z-20">
    <div class = "flex overflow-hidden grow">
        <div class ="shrink-0 grow flex items-center flex-col overflow-hidden" >
            <div class = "h-8"></div>
            <h1 class = "text-white text-6xl overflow-hidden">
                A Blast Into the Past 🚀
            </h1>
            <div class ="h-2"></div>
            <p1 class = "text-white text-xl overflow-hidden">
                The STARR Photo Archive
            </p1>
        </div>
    </div>
</div>

<div class = "h-20"></div>

<div class = "flex flex-col relative z-20">
    {% for photoline in photos|batch(3) %}
        <div class = "flex justify-center space-x-12">
            {% for photo in photoline %}
                <div class="flex flex-col items-center flex-none">
                    <img src={{photo.imglink}} class ="w-72 h-72 rounded-3xl">
                    <h1 class ="text-white">{{photo.title}}</h1>
                    <p class ="text-white">{{photo.description}}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>