<!doctype html>
<html>
  <head>
    <title>Welcome to UA STARR</title>
      
    <link rel="stylesheet" href="static/dist/main.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <style>
      body {
          font-family: 'Montserrat'
      }
    </style>
  </head>
  <body class = " overflow-y-scroll overflow-x-hidden relative" id="body">
    <!--Header-->
    <%- include('partials/header') -%>

    <!-- Body -->
    <%- include('content/content_about_us') -%>

    <!--Footer-->
    <%- include('partials/footer') -%>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- <script src="{{url_for('static', filename='scripts.js')}}"></script> -->
  <script src="static/scripts.js"></script>
</html>
