
<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<style>
  body {
    font-family: Arial, sans-serif;
    background: #0D0628;
    color: white;
  }
  .container {
    max-width: 600px;
    margin: 50px auto;
    background: white; /* Updated background color to white */
    padding: 20px;
    border-radius: 8px;
    color: black; /* Updated text color to black */
  }
  input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #FFC107;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #DAA520;
  }
  .half-input-container {
    display: flex;
    justify-content: space-between;
  }
  .half-input {
    width: 48%; 
  }
  .center-align {
    text-align: center;
  }
  .banner {
    background-color: #267337;
    text-align: left;
    padding: 20px;
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif; 
  }
  .grecaptcha {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
</style>
  <div class = "fixed top-0 justify-center w-screen h-screen">
      <video autoplay muted loop style class ="object-cover min-w-full min-h-full">
          <source src="../static/fireflies_background.mp4" type="video/mp4" />
      </video>
  </div>

  <div class= "relative z-30 pl-40">
    <div class = "h-40"></div>
      <h1 class = "text-4xl text-white" style = "font-size: 50px;">Contact Us</h1>
      <h2 style = "margin-bottom: 2px; margin-top: 10px;">Want to join us? Want to become a sponsor? Any other questions?</p>
      <p style = "margin-top: 2px;">Let us know! We'd love to hear what you think</p>    
    </div>
  <div class = "h-12"></div>


  <div class= "relative z-30">
    <div class = "h-3"></div>
    <div class="container">

      <form action="/submit_contact_form" method="post">
        <div class="half-input-container">
          <div class="half-input">
            First Name
            <input type="text" id="fname" name="firstname" placeholder="" required>
          </div>
          <div class="half-input">
            Last Name
            <input type="text" id="lname" name="lastname" placeholder="" required>
          </div>
        </div>
        Email
        <input type="email" id="email" name="email" placeholder="" required>
        

          <div>
            Subject
            <select id="subject" name="subject" required>
                <option value="" disabled selected hidden>Choose an option</option>
              <option value="member_inquiry">Membership Application Inquiry</option>
              <option value="sponsorship_inquiry">Sponsorship Inquiry</option>
              <option value="donation_inquiry">Donation Inquiry</option>
              <option value="event_inquiry">Event Enquiry</option>
              <option value="other">Other</option>
            </select>
          </div>

        <div>
          How do you know about us?
          <input type="text" id="know" name="know" placeholder="">
        </div>
        Leave a Message
        <textarea id="message" name="message" placeholder="" style="height:150px"></textarea>
        
        <div class = "center-align">
          <input type="checkbox" id="subscribe" name="subscribe" value="newsletter">
          <label for="subscribe"> Subscribe to the STARR newsletter</label><br>
          
          <div class="g-recaptcha grecaptcha" data-sitekey="6Leo32UpAAAAAJmvvWFtlNfapVA2bn_qxHIbO77J"></div>

          <input style = "margin-top: 10px" type="submit" value="Submit">

        </div>

      </form>
    </div>

  <div class="banner">
    &emsp;&emsp;&emsp;&emsp;Looking for us? We got you.
  </div>
  <div style="width: 100%" div class= "relative z-30">
    <iframe
    width="100%"
    height="400"
    frameborder="10" style="border:3px"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAcBwWVLuUFQMaRS-eFzHm8UxtKW6wJM9Q&q=Donadeo+Innovation+Centre+for+Engineering,+9211+116+St+NW,+Edmonton,+AB+T6G+1H9&maptype=satellite&zoom=15"
    allowfullscreen>
    </iframe>
  </div>