@tailwind base;
@tailwind components;
@tailwind utilities;

.truepopup {
    position: absolute;
    transform: translate(-30px, 15px);
  }

.popup {
    cursor: pointer;
}

.hidden {
    display: none;
}

.fade_in{
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: all;
}

.flow_in_left{
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: all;
    transform: translate(-50px);
}

.no_delay{
    transition-delay: 0s;
}

.flow_in_top{
    transition-duration: 2s;
    transition-property: all;
    transform: translate(0, -100%);
}

.header{
    position: fixed;
}

.header_hidden{
    transition: 1s;
    transform: translate(0, -100%);
}

.visible{
    opacity: 1;
    transform: translate(0, 0);
}

#bg-image{
    background-image: url(https://static.wixstatic.com/media/9dc5ac_70978e0bd50149cc929b81fd4a068c31~mv2.jpg/v1/fill/w_1176,h_995,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9dc5ac_70978e0bd50149cc929b81fd4a068c31~mv2.jpg);
    background-size: cover;
    width: 120vw;
}