<div class ="bg-black z-10 relative flex-col justify-between">
    <!--Catagories-->
    <div class = "flex justify-between space-x-6 px-12 pt-12">
      <div class = "space-y-4 basis-1">
        <h1 class="text-white font-semibold text-lg whitespace-nowrap">
          Student Team for Alberta <br> Rocketry Research  
        </h1>
        <p class="text-gray-400 text-base whitespace-nowrap">
          Donadeo Innovation Centre <br>
          for Engineering <br>
          9211-116 St. NW <br>
          ​Edmonton, AB T6G 1H9
        </p>
        <div class = "pt-4">
          <button onclick= "window.location.href = '/join'" class="whitespace-nowrap bg-yellow-500 hover:transition-all duration-200 hover:bg-white rounded-full px-6 py-3" href="/join" type="button">Contact Us</button>
        </div>
      </div>
      <div class = "space-y-4 basis-2">
        <h1 class="text-white font-semibold text-lg whitespace-nowrap">  
          Want to stay in the know about STARR? 💫  
        </h1>
        <p class="text-gray-400 text-base whitespace-nowrap">
          Join our mailing list to keep up with our events, <br>
          blog posts, and other news!
        </p>
      </div>
      <div class = "flex flex-col basis-1">
        <h1 class="text-white font-semibold text-lg whitespace-nowrap pb-4">  
          Menu  
        </h1>
        <a class=" text-gray-400 text-base whitespace-nowrap" href="/index">Home</a> 
        <a class="text-gray-400 text-base whitespace-nowrap" href="/projects">Projects</a> 
        <a class="text-gray-400 text-base whitespace-nowrap"href="/about-us">About Us</a> 
        <a class="text-gray-400 text-base whitespace-nowrap"href="/sponsors">Sponsors</a>
        <a class="text-gray-400 text-base whitespace-nowrap"href="/index">Photo Albums</a>
        <a class="text-gray-400 text-base whitespace-nowrap"href="/join">Contact Us</a>
      </div>
      <div class = "flex flex-col basis-1">
        <h1 class="text-white font-semibold text-lg whitespace-nowrap pb-4">         
          Follow us on
        </h1>
        <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.facebook.com/uastarr/">Facebook</a>
        <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.instagram.com/uastarr/">Instagram</a> 
        <a class=" text-gray-400 text-base whitespace-nowrap" href="https://twitter.com/uastarr">Twitter</a> 
        <a class=" text-gray-400 text-base whitespace-nowrap" href="https://www.linkedin.com/company/uastarr/">LinkedIn</a> 
      </div>
    </div>
    <!--Copywright Statement-->
    <div class = "pt-16">
      <h1 class="text-gray-400 text-base whitespace-nowrap">
        Copyright © 2022 Student Team for Alberta Rocketry Research. All rights reserved.
      </h1>
    </div>
</div>